node_modules
.DS_Store
dist
dist-ssr
scripts/
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json
.cursor/*
!.cursor/settings.json
.vscode/*
!.vscode/settings.json
coverage/
.vercel
