convex/_generated/*
routeTree.gen.ts
.output/
.tanstack/
.wrangler/
.vinxi/
.cursor/
.vscode/
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml
dist/
build/
coverage/
.next/
.nuxt/
out/
.env
.env.local
.env.*.local
**/*.min.js
**/*.min.css
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
public/site.webmanifest
